{% load static %}
<header class="navbar-wrapper">
  <nav class="navbar" role="navigation">
    <div class="navbar-left">
      <a href="/" class="navbar-brand">
        <img src="{% static 'icons/JDG.png' %}" alt="JDG" class="navbar-logo">
      </a>
      <a href="/" class="navbar-link{% if request.path == '/' %} active{% endif %}">판단실</a>
    </div>
    <div class="navbar-right">
      {% if request.user.is_authenticated %}
      <div class="navbar-profile-wrap">
        <button type="button" class="navbar-profile-trigger" id="navbar-profile-trigger" aria-expanded="false" aria-haspopup="true" aria-label="사용자 메뉴">
          <img src="{% static 'icons/profile.png' %}" alt="프로필" class="navbar-icon">
        </button>
        <div class="navbar-dropdown" id="navbar-user-menu" aria-hidden="true">
          <button type="button" class="navbar-dropdown-item" data-action="profile">사용자 정보 수정</button>
          <button type="button" class="navbar-dropdown-item" data-action="logout">로그아웃</button>
          <button type="button" class="navbar-dropdown-item navbar-dropdown-item-danger" data-action="withdraw">탈퇴</button>
        </div>
      </div>
      {% else %}
      <div class="navbar-profile-wrap">
        <button type="button" class="navbar-profile-trigger navbar-icon-wrap" id="navbar-login-trigger" aria-label="로그인">
          <img src="{% static 'icons/profile.png' %}" alt="프로필" class="navbar-icon">
        </button>
      </div>
      {% endif %}
    </div>
  </nav>
</header>